h5py==3.1.0
matplotlib==3.3.4
numba==0.52.0
pandas==1.2.1
pip-chill==1.0.1
pyhydrophone==0.1
pyopengl==3.1.5
pyporcc==0.1
pyqt5==5.15.2
pyqtgraph==0.11.1
requests==2.25.1
sklearn==0.0
soundfile==0.10.3.post1
tables==3.6.1
tqdm==4.56.0
virtualenvwrapper==4.8.4
